DBConexion_SQL/Web References/WSParametrosCOM_CERT/ParametroInterfazKey.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://bean.ws.comp.bn.com.pe" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://service.ws.comp.bn.com.pe" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://service.ws.comp.bn.com.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:impl="http://service.ws.comp.bn.com.pe" xmlns:tns2="http://bean.ws.comp.bn.com.pe" xmlns:intf="http://service.ws.comp.bn.com.pe" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.ws.comp.bn.com.pe">
      <xsd:import namespace="http://bean.ws.comp.bn.com.pe" />
      <xsd:element name="datoParametroServiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="datoParametroServiceReturn" nillable="true" type="tns2:SistemaParametro" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="datoParametroService">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sistema" nillable="true" type="xsd:string" />
            <xsd:element name="cuenta" nillable="true" type="xsd:string" />
            <xsd:element name="semilla" nillable="true" type="xsd:string" />
            <xsd:element name="llave" type="xsd:base64Binary" />
            <xsd:element name="idUsuario" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_tns2_Parametro">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Parametro" nillable="true" type="tns2:Parametro" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_GrupoParametro">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="GrupoParametro" nillable="true" type="tns2:GrupoParametro" />
        </xsd:sequence>
      </xsd:complexType>
    </s:schema>
    <s:schema xmlns:impl="http://service.ws.comp.bn.com.pe" xmlns:intf="http://service.ws.comp.bn.com.pe" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bean.ws.comp.bn.com.pe">
      <xsd:complexType name="SistemaParametro">
        <xsd:sequence>
          <xsd:element name="aliasSistema" nillable="true" type="xsd:string" />
          <xsd:element name="grupoParametro" nillable="true" type="intf:ArrayOf_tns2_GrupoParametro" />
          <xsd:element name="proceso" nillable="true" type="s1:ReturnProceso" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GrupoParametro">
        <xsd:sequence>
          <xsd:element name="tipoGrupo" nillable="true" type="xsd:string" />
          <xsd:element name="aliasDescripGrupo" nillable="true" type="xsd:string" />
          <xsd:element name="aliasGrupo" nillable="true" type="xsd:string" />
          <xsd:element name="parametro" nillable="true" type="intf:ArrayOf_tns2_Parametro" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Parametro">
        <xsd:sequence>
          <xsd:element name="aliasParam" nillable="true" type="xsd:string" />
          <xsd:element name="campoParam" nillable="true" type="xsd:string" />
          <xsd:element name="descripcionParam" nillable="true" type="xsd:string" />
          <xsd:element name="tipoParam" nillable="true" type="xsd:string" />
          <xsd:element name="valorParam" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReturnProceso">
        <xsd:sequence>
          <xsd:element name="codigo" nillable="true" type="xsd:string" />
          <xsd:element name="descripcion" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="datoParametroServiceResponse">
    <wsdl:part name="parameters" element="tns:datoParametroServiceResponse" />
  </wsdl:message>
  <wsdl:message name="datoParametroServiceRequest">
    <wsdl:part name="parameters" element="tns:datoParametroService" />
  </wsdl:message>
  <wsdl:portType name="ParametroInterfazKey">
    <wsdl:operation name="datoParametroService">
      <wsdl:input name="datoParametroServiceRequest" message="tns:datoParametroServiceRequest" />
      <wsdl:output name="datoParametroServiceResponse" message="tns:datoParametroServiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ParametroInterfazKeySoapBinding" type="tns:ParametroInterfazKey">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="datoParametroService">
      <soap:operation soapAction="" />
      <wsdl:input name="datoParametroServiceRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="datoParametroServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParametroInterfazKeyService">
    <wsdl:port name="ParametroInterfazKey" binding="tns:ParametroInterfazKeySoapBinding">
      <soap:address location="http://10.7.106.36:9080/WSParamService/services/ParametroInterfazKey" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>